html { font-size: 14px;}
div { font-size: 2em;}

a { 
  text-decoration: overline blue 14px;
  text-transform: capitalize;
  background-color: green;

}

/* ul {
  list-style: circle;
}

ol {
  list-style: lower-alpha;
} */

ul > li {
  margin-right: 2em;
  display: inline-block;
  padding: 8px;
}

p {
  background-color: lightblue;
  margin: 24px;
  padding: 24px;
}

p.spacial {
  margin: 48px;
}

